<html>
<h1>Course Details</h1>
<link href="../static/css/style.css" rel="stylesheet">
<h3>Subscribe Table</h3>
<body>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
	<script>
		$(document).ready(function(){
		$("#simplepost").click(function(e)
		{
			var data = $("#ajaxform").serializeJSON();
                        console.log(data)			
 			$.ajax(
 			{
 				url : "subscribe_courses",
				type: "POST",
				contentType: 'application/json; charset=utf-8',
				data : JSON.stringify(data),
				dataType: 'json',	
				success:function(response)
				 {

					alert("Data saved");

				 },
 			"error": function(jqXHR, textStatus, errorThrown)
 			{
 			}
 		}
		);
		 e.preventDefault(); //STOP default action

		});
	});
</script>

<form id="ajaxform" method="POST" >  
<div id="message"> </div>
<table id="table1"; cellspacing="5px" cellpadding="5%"; align="center">

		<thead>
		<tr>
			<th>Course Description</th>
			<th>Date Of Course</th>
			<th>Author</th>
			<th>Subscribe</th>
			
		</tr>
		</thead>
		<tbody>
                {% for course in courses %}
		<tr>
			<td>{{course.course_name}}</td>
			<td>{{course.course_date}}</td>
			<td>{{course.author_name}}</td>			
			<td><input type="checkbox" name='course_ids[]' value={{course.id}} /></td>
			
		</tr>
                {% endfor %}
	<tr>
		<td><input type="button" id="simplepost" value="Submit"  align="right" onclick="function();"/></td>
	        <td><input type="button" value="Reset"/></td>
	</tr>
		</tbody>
	</table>
</form>
</body>
</html>
